section.ttp-qa-1
	.container
		.row
			.col-xl-3.col-lg-4
				include ../../nav/n-1/index
			.col-xl-9.col-lg-8
				.quote
					h2.title-main Hỏi đáp
					p Tổng hợp các câu hỏi thường gặp khi khách hàng đặt mua tinh dầu tại TTP Nature, ngoài ra là giải đáp thắc mắc về các loại tinh dầu nguyên chất trong quá trình sử dụng. 
				.block
					- for ( var x = 1 ; x < 10 ; x ++)
						.question
							h3 
								span 0#{x}
								| Tinh dầu là gì? Những tác dụng mà tinh dầu mang lại?
						.answer
							p Tổng hợp các câu hỏi thường gặp khi khách hàng đặt mua tinh dầu tại TTP Nature, ngoài ra là giải đáp thắc mắc về các loại tinh dầu nguyên chất trong quá trình sử dụng.
				include ../../pagination/p-1/index

