section.ttp-home-1
	.container
		.row
			.col-12
				.quote
					h2 Giới thiệu
					p TTP Natural là nguồn cảm hứng từ những vườn trái cây tươi mọng và hương thơm ngát từ cánh đồng hoa ngoại quốc. Chúng tôi muốn gói gọn tất cả những điều tinh túy vào trong sản phẩm tinh dầu thiên nhiên và trái cây tươi sạch. TTP Natural đem nguồn năng lượng sống thiên nhiên đến với khách hàng Việt Nam.

		.row
			.col
				.wrapper
					.block
						a(href="#")
							figure
								.img
									img.img-fluid(src='./img/home/home_icon_1.png', alt='')
								figcaption
									h3 Dưỡng da trắng sáng và làm đẹp
						a(href="#")
							figure
								.img
									img.img-fluid(src='./img/home/home_icon_2.png', alt='')
								figcaption
									h3 Xông hơi, thư giãn và giảm stress


					.block
						figure
							img(src='./img/home/home_icon_bg.png', alt='')
					.block
						a(href="#")
							figure
								.img
									img.img-fluid(src='./img/home/home_icon_3.png', alt='')
								figcaption
									h3 Chăm sóc tóc chắc khỏe

						a(href="#")
							figure
								.img
									img.img-fluid(src='./img/home/home_icon_4.png', alt='')
								figcaption
									h3 Tinh dầu giúp giảm đau và ngủ ngon hơn


