section.phanam-home-2
	.container
		.row
			.col-12
				.wrapper
					h2 Dịch vụ
					p Xây dựng Pha Nam là công ty phân phối dược phẩm trong nước số 1 tại Việt Nam
					a(href="#").btn.btn-more xem thêm