.othernews
	h2 khuyến mãi khác
	.lists
		- for (var i = 0; i < 3 ; i++)
			a.item(href="#")
				figure
					.img
						img(src="./img/promotion/promotion_sub_banner_1.png", alt="alt")
					figcaption
						time 
							em.far.fa-calendar-alt
							| 02/11/2018, 15:05
						h3 MỪNG NGÀY PHỤ NỮ 20/10 - TTP NATURE GIẢM ĐẾN 20%

