.col-lg-3
	figure
		img.img-fluid(src='./img/global/logo.png', alt='')
		figcaption
			h4  Tài khoản của
				span ADMIN 
	ul.list-unstyled
		li
			a(href="#!").nav-link.active Thông tin chung
		li
			a(href="#!").nav-link Thông tin tài khoản
		li
			a(href="#!").nav-link Sổ địa chỉ
		li
			a(href="#!").nav-link Quản lý đơn hàng
		li
			a(href="#!").nav-link Lịch sử điểm thưởng
		li
			a(href="#!").nav-link Đổi mật khẩu