section.checkout-step-wrap
	.container
		.row
			.step.finished
				p
					span 1
					span Giỏ hàng
			.step.active
				p
					span 2
					span Đăng nhập
			.step
				p
					span 3
					span Thông tin
			.step
				p
					span 4
					span Thanh toán