section.ttp-product-detail-1
	article.product-details
		.container
			.row.d-flex




				.col-lg-6.order-md-1.slider-img
					.slider-for
						.item
							a(href="./img/product_detail/product_detail_1.png")
								figure
									.img
										img(src="./img/product_detail/product_detail_1.png", alt="")
						.item
							a(href="./img/product_detail/product_detail_1.png")
								figure
									.img
										img(src="./img/product_detail/product_detail_1.png", alt="")
						.item
							a(href="./img/product_detail/product_detail_1.png")
								figure
									.img
										img(src="./img/product_detail/product_detail_1.png", alt="")
						.item
							a(href="./img/product_detail/product_detail_1.png")
								figure
									.img
										img(src="./img/product_detail/product_detail_1.png", alt="")
						.item
							a(href="./img/product_detail/product_detail_1.png")
								figure
									.img
										img(src="./img/product_detail/product_detail_1.png", alt="")
						.item
							a(href="./img/product_detail/product_detail_1.png")
								figure
									.img
										img(src="./img/product_detail/product_detail_1.png", alt="")
						.item
							a(href="./img/product_detail/product_detail_1.png")
								figure
									.img
										img(src="./img/product_detail/product_detail_1.png", alt="")


					.slider-control
						.slider-nav
							.item
								.img
									img(src="./img/product_detail/product_detail_smanll_1.png", alt="")
							.item
								.img
									img(src="./img/product_detail/product_detail_smanll_1.png", alt="")
							.item
								.img
									img(src="./img/product_detail/product_detail_smanll_1.png", alt="")
							.item
								.img
									img(src="./img/product_detail/product_detail_smanll_1.png", alt="")
							.item
								.img
									img(src="./img/product_detail/product_detail_smanll_1.png", alt="")
							.item
								.img
									img(src="./img/product_detail/product_detail_smanll_1.png", alt="")

						a(href="javascript:void(0)").btn.top-arrow
							i.fa.fa-chevron-left
						a(href="javascript:void(0)").btn.bottom-arrow
							i.fa.fa-chevron-right
				.col-lg-6.order-md-2.mb-4.infomation
					h2 tinh dầu hoa hồng 
					p 
						|Thương hiệu: 
						span Đang cập nhật
						| Tình trạng:
						span Còn hàng
					.table-responsive
						table.table
							tbody
								tr
									th Giá
									th 515.000 đ
										span 800.000 đ
								tr
									td Công dụng chính
									td Công Dụng Bất Ngờ Hỗ Trợ Sức Khỏe Đến Từ Tinh Dầu Hoa Hồng Hoa hồng vốn được mệnh danh là nữ hoàng của các loài hoa...
								tr
									td Dung tích
									td 500 ml
								tr
									td Số lượng
									td 
										.quantity
											//- a(href="javascript:void(0)").btn.btn-default
												span.fas.fa-minus
											.form-group
												input(id="demo1" type="text" value="55" name="demo1")
											//- span 1
											//- a(href="javascript:void(0)").btn.btn-default
												span.fas.fa-minus

					a(href="#").btn.btn-buy mua sản phẩm
					include ../../social/s-1/index.pug