section.ttp-intro-2
	.container
		.row
			.col-md-4
				img.img-fluid(src='./img/intro/intro_banner_1.png', alt='')
			.col-md-8
				.quote
					.sub
						h2.title TẦM NHÌN

						p Chúng tôi mong muốn trở thành nhà phân phối sản phẩm tinh dầu an toàn 100% tự nhiên và chất lượng dịch vụ vượt trội hàng đầu cho khách hàng tại Việt Nam.



					.sub
						h2.title SỨ MỆNH

						p Với sứ mệnh mang tới tinh dầu thuần khiết và tinh túy nhất của thiên nhiên vào sản phẩm, TTP không ngừng tìm kiếm nguồn nguyên liệu sạch từ nhiều khu vườn trên thế giới