section.ttp-promotion-1
	.container
		.row
			.col-11.mx-auto
				.row
					.col
						h1 khuyến mãi
				.row
					.col-lg-8
						a(href="promotion-detail.html")
							.boxzoom
								img(src='./img/promotion/promotion_banner_2.png', alt='')
					.col-lg-4
						a(href="promotion-detail.html")
							.boxzoom
								img(src='./img/promotion/promotion_sub_banner_2.png', alt='')
						a(href="promotion-detail.html")
							.boxzoom
								img(src='./img/promotion/promotion_sub_banner_2.png', alt='')
				//- .wrapper-banner
				//- 	.block-big
				//- 	.block-small
				.row.sub
					.col-lg-4.col-sm-4.col-12
						a(href="promotion-detail.html")
							.boxzoom
								img(src='./img/promotion/promotion_sub_banner_2.png', alt='')

					.col-lg-4.col-sm-4.col-12
						a(href="promotion-detail.html")
							.boxzoom
								img(src='./img/promotion/promotion_sub_banner_2.png', alt='')

					.col-lg-4.col-sm-4.col-12
						a(href="promotion-detail.html")
							.boxzoom
								img(src='./img/promotion/promotion_sub_banner_2.png', alt='')
				.row
					.col
						a(href="promotion-detail.html").btn.btn-show-more Xem thêm
