<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="BaiVietCauChuyenChungToi.xslt" name="Bài viết câu chuyện chúng tôi"></templatelist>
  <templatelist xsltname="BaiVietKhuyenMai.xslt" name="Bài viết khuyến mãi"></templatelist>
  <templatelist xsltname="BaiVietHoiDap.xslt" name="Bài viết hỏi đáp"></templatelist>
  <templatelist xsltname="BaiVietTinTucSuKienOther.xslt" name="Bài viết tin tức sự kiện"></templatelist>
  <templatelist xsltname="TTP-TruyenThongHinhAnh.xslt" name="Truyền Thông Hình Ảnh"></templatelist>

  <templatedetail xsltname="ChiTietKhuyenMai.xslt" name="Chi tiết khuyến mãi"></templatedetail>


  <position>
    <add name="tin tức Trang chủ" value="1" resourcefile="" />
    <add name="tin tức sự kiện" value="2" resourcefile="" />
  </position>
</templates>