<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="LichSuDS.xslt" name="Danh sách lịch sử"></templatelist>
  <templatelist xsltname="LanhDaoDS.xslt" name="Danh sách lãnh đạo"></templatelist>
  <templatelist xsltname="NgheNghiepDS.xslt" name="Danh sách nghề nghiệp"></templatelist>
  <templatelist xsltname="HeThongNhaMayDS.xslt" name="Danh sách hệ thống nhà máy"></templatelist>
  <templatelist xsltname="ChungChiGiaiThuongDS.xslt" name="Danh sách chứng chỉ và giải thưởng"></templatelist>
  <templatelist xsltname="TinTucDS.xslt" name="Danh sách tin tức"></templatelist>

  <templatedetail xsltname="TrucTiepCoTieuDe.xslt" name="Tin trực tiếp có tiêu đề"></templatedetail>
  <templatedetail xsltname="TrucTiepKhongTieuDe.xslt" name="Tin trực tiếp không tiêu đề"></templatedetail>
  <templatedetail xsltname="NgheNghiepCT.xslt" name="Chi tiết nghề nghiệp"></templatedetail>
  <templatedetail xsltname="HuongDanCT.xslt" name="Chi tiết hướng dẫn"></templatedetail>
  <templatedetail xsltname="TinTucCT.xslt" name="Chi tiết tin tức"></templatedetail>

  <position>
    <add name="tin tức Trang chủ" value="1" resourcefile="" />
  </position>
</templates>