section.phanam-home-5
	article
		.row.no-gutters
			.col-lg-4
				figure
					.boxzoom
						img(src='./img/home/dev_1.png', alt='')
					figcaption
						h3 Bản đồ việc làm
						p Tìm kiếm nhanh địa điểm tuyển dụng gần bạn nhất
			.col-lg-4
				figure
					.boxzoom
						img(src='./img/home/dev_2.png', alt='')
					figcaption
						h3 Vị trí ứng tuyển
						p Cùng Pha Nam xây dựng đội ngũ vững mạnh 

			.col-lg-4
				figure
					.boxzoom
						img(src='./img/home/dev_3.png', alt='')
					figcaption
						h3 Văn hóa Pha Nam
						p Chúng tôi quan tâm bạn bằng những hoạt động văn hóa & chính sách phúc lợi tốt nhất

