section.ttp-slider-2
	article
		.list-items
			.item
				img(src='./img/home/home_slider_1.png', alt='')
			.item
				img(src='./img/home/home_slider_1.png', alt='')
			.item
				img(src='./img/home/home_slider_1.png', alt='')
			.item
				img(src='./img/home/home_slider_1.png', alt='')
			.item
				img(src='./img/home/home_slider_1.png', alt='')
			.item
				img(src='./img/home/home_slider_1.png', alt='')