section.ttp-promotion-detail-1
	article.news-details
		.container
			.row
				.col-lg-8
					.news-read
						time 
							em.far.fa-calendar-alt
							| 02/11/2018, 15:05
						h2.head-title THỜI KHẮC GIAO MÙA ĐÃ ĐẾN - TTP nature tri ân quý khách, GIẢM 50% cho tất cả sản phẩm TINH DẦU
						p.briefcontent Nhân dịp Giáng Sinh đã cận kề, thời khắc giao mua lại sắp đến, TTP Nature giảm 50% cho toàn bộ tinh dầu nguyên chất khi mua trực tiếp tại showroom.
						.fullcontent
							strong Xóa bỏ những vách ngăn để tạo không gian mở
							p Khi thiết kế cho những căn hộ nhỏ, việc sử dụng vách ngăn không còn là điều mới lạ. Các loại vách ngăn có chức năng gần như một bức tường giúp phân chia, làm mới và đẹp không gian, tạo môi trường tách biệt nhưng không gây bí bách. 
							a.item-news-read
								figure
									img.img-fluid(src="./img/promotion/promotion_banner_1.png", alt="")
							p Cho dù bạn có đang tự vấn bản thân bao nhiêu câu hỏi về tinh dầu thì cũng sẽ chỉ có một câu trả lời duy nhất, đó chính là tinh dầu TTP Nature. Với những loại tinh dầu 100% thiên nhiên nguyên chất, được nhập khẩu từ nhiều quốc gia trên thế giới cũng như sở hữu giấy chứng nhận minh bạch từ các tổ chức uy tín, tinh dầu TTP Nature xứng đáng là một thương hiệu cho bạn gửi gắm niềm tin khi muốn sử dụng tinh dầu. Hơn nữa, khi đến với cửa hàng của TTP Nature vào thời gian này, các bạn còn được giảm đến 50% cho toàn bộ tinh dầu tại showroom.

							p Nhưng đó chưa phải là tất cả đâu nhé, bên cạnh việc được hưởng ưu đãi 50% cho tinh dầu, các bạn còn được thưởng thức một buổi tiệc buffet nhẹ nhàng ấm cúng khi đến với TTP Nature vào dịp lễ đặc biệt này. Đó chính là lý do tại sao TTP Nature muốn mời các bạn ghé thăm showroom để vừa được hưởng ưu đãi vừa cùng TTP Nature có một buổi tiệc đáng nhớ đấy!

							h3 ĐẶC BIỆT
							p Hàng trăm voucher trị giá lên đến 300,000đ đang chờ đón các bạn khi đến tham dự tiệc buffet của TTP Nature. Đừng bỏ qua cơ hội hiếm có trong năm này nhé!!

							a.item-news-read
								figure
									img.img-fluid(src="./img/promotion/promotion_banner_1.png", alt="")
							h4 Chi tiết chương trình:

							p 
								span Ưu đãi: 
								|Giảm trực tiếp 10-50% tinh dầu, thưởng thức buffet miễn phí và nhận voucher tại showroom.
							p 
								span Hình thức:
								| Áp dụng cho mua hàng trực tiếp tại showroom
							p
								span Thời gian áp dụng: 
								| từ 24/12 đến hết 26/12 (riêng Buffet và voucher chỉ áp dụng vào 24/10)
							p 
								span Tham khảo sản phẩm tại: 
								|ttpnature.vn hoặc fanpage TTP Nature
						include ../../social/s-1/index.pug

				.col-lg-4
					include ../../sub-news/sn-1/index.pug
				