footer.phanam-footer-1
	.container
		.row
			.col-12
				ul.nav
					li.nav-item
						a.nav-link(href="#") Trang chủ 
					li.nav-item
						a.nav-link(href="#") giới thiệu Pha Nam
					li.nav-item
						a.nav-link(href="#") Dịch vụ
					li.nav-item
						a.nav-link(href="#") cơ hội nghề nghiệp
					li.nav-item
						a.nav-link(href="#") Sự kiện
					li.nav-item
						a.nav-link(href="#") Liên hệ
			.col-12
				.info-wrapper
					h3 Công ty Cổ Phần Dược Pha Nam
					p 436 Cao Thắng, Phường 12, Quận 10  -  Điện thoại: 028 6265 1638  -  Fax: 028 3863 0394 - 028 6293 4277  -  Email: info@phanam.com.vn
					a(href="#")
						p www.phanam.com.vn
			.col-12
				.bot-wrapper
					.copyright
						h4 © 2018 Công ty TNHH Thương mại và Dịch vụ Liên Việt - VIC. Tất cả các quyền được bảo hộ. Thiết kế bởi Cánh Cam.
							
					.social-wrapper
						a(href="#")
							em.fab.fa-facebook-f
						a(href="#")
							em.fab.fa-google-plus-g
						a(href="#")
							em.fab.fa-youtube
						a(href="#")
							em.fab.fa-twitter




			//- .col-12
			//- .col-12