footer.ttp-footer-1
	.container
		//- include ../../slider/s-1/index
		.row
			.col
				.ttp-slider-1
					.list-items
						.item
							img(src='./img/global/footer_slider_1.png', alt='')

						.item
							img(src='./img/global/footer_slider_2.png', alt='')
						.item
							img(src='./img/global/footer_slider_3.png', alt='')
						.item
							img(src='./img/global/footer_slider_4.png', alt='')
						.item
							img(src='./img/global/footer_slider_5.png', alt='')
						.item
							img(src='./img/global/footer_slider_1.png', alt='')
						.item
							img(src='./img/global/footer_slider_4.png', alt='')
						.item
							img(src='./img/global/footer_slider_5.png', alt='')

		.row
			.col-lg-3
				.info
					p Mọi thắc mắc xin vui lòng liên hệ với chúng tôi qua hotline 
						span 0907 208 438 
						| hoặc liên hệ trực tếp về email: 
						strong cskh@ttpcorp.com.vn
			.col-lg-3.col-md-6
				.link
					h3 Liên hệ
					p 156 Nguyễn Văn Thủ, P. ĐaKao, Quận 1, Tp Hồ Chí Minh
					p Thứ 2 - Thứ 6: 08:00 AM - 05:00 PM
			.col-lg-3.col-md-6
				.link
					h3 Sản phẩm
					ul.nav
						li.nav-item
							a(href="#").nav-link Tinh dầu thiên nhiên
						li.nav-item
							a(href="#").nav-link Trái cây nội địa
						li.nav-item
							a(href="#").nav-link Trái cây ngoại nhập
			.col-lg-3
				.link
					h3 Đăng ký nhận bản tin
					p Đăng ký ngay để nhận thông tin mới nhất từ TTP Corporation
					.form-group
						input(type="text", placeholder='Nhập email')
						a(href="#").subscribebutton
							span.fas.fa-check
					.social-wrapper
						a(href="#")
							em.fab.fa-facebook-f
						a(href="#")
							em.fab.fa-google-plus-g
						a(href="#")
							em.fab.fa-youtube

			.col-12
				.bot-wrapper
					.copyright
						h4 Copyright © 2018 TTP Corporation. Designed by Cánh Cam

			//- .col-12
			//- 	.info-wrapper
			//- 		h3 Công ty Cổ Phần Dược Pha Nam
			//- 		p 436 Cao Thắng, Phường 12, Quận 10  -  Điện thoại: 028 6265 1638  -  Fax: 028 3863 0394 - 028 6293 4277  -  Email: info@phanam.com.vn
			//- 		a(href="#")
			//- 			p www.phanam.com.vn
							




			//- .col-12
			//- .col-12