section.ttp-media-2
	.container
		.row
			.col-lg-3.col-md-6.order-2.order-lg-1
				.small
					- for (var x = 0 ; x < 2; x++)
						a(href="#")
							figure
								.boxzoom
									img(src="./img/promotion/promotion_banner_1.png", alt="")
								figcaption
									h3 tai sao nen su dung may khuyech tan tinh dau?
									time 15/05
										span 2019
			.col-lg-6.order-1.order-lg-2
				.big
					a(href="#")
						figure
							.boxzoom
								img(src="./img/promotion/promotion_banner_1.png", alt="")
							figcaption
								h3 tai sao nen su dung may khuyech tan tinh dau?
								time 15/05
									span 2019

			.col-lg-3.col-md-6.order-3
				.small
					- for (var x = 0 ; x < 2; x++)
						a(href="#")
							figure
								.boxzoom
									img(src="./img/promotion/promotion_banner_1.png", alt="")
								figcaption
									h3 tai sao nen su dung may khuyech tan tinh dau?
									time 15/05
										span 2019