section.ttp-media-photo-2
	.container

		.row
			.col-lg-4
				.wrapper-gallery
					.box-zoom
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
			.col-lg-4
				.wrapper-gallery
					.box-zoom
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
			.col-lg-4
				.wrapper-gallery
					.box-zoom
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
						a(href="./img/promotion/promotion_banner_1.png")
							img(src="./img/promotion/promotion_banner_1.png", alt="")
		.row
			.col
				a(href="#").btn.btn-show-more Xem Them
