section.ttp-media-3
	.container
		.row
			.col
				.title
					h2 cam nang tinh dau
		.row
			.col-lg-4
				a(href="#")
					figure
						.boxzoom
							img(src='./img/promotion/promotion_banner_1.png', alt='')

						figcaption
							h3 tai sao nen su dung may khuyech tan tinh dau?
			.col-lg-4
				a(href="#")
					figure
						.boxzoom
							img(src='./img/promotion/promotion_banner_1.png', alt='')

						figcaption
							h3 tai sao nen su dung may khuyech tan tinh dau?
			.col-lg-4
				a(href="#")
					figure
						.boxzoom
							img(src='./img/promotion/promotion_banner_1.png', alt='')

						figcaption
							h3 tai sao nen su dung may khuyech tan tinh dau?
		.row
			.col
				a(href="#").btn.btn-show-more Xem Them
