extends _layout/_layout.pug

block var
	- title = 'account-info-general'
	- bodyClass = 'account-info-general-page'

block header
	include ../lib/header/index.pug
block main
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/account-info-general/a-1/index.pug
	
block footer
	include ../lib/footer/f-2/index.pug