extends _layout/_layout.pug

block var
	- title = 'Home'
	- bodyClass = 'index-page'

block header
	include ../lib/header-2/index.pug
block main
	//- include ../lib/slider/s-1/index.pug
	//- include ../lib/home/h-1/index.pug
	//- include ../lib/home/h-2/index.pug
	//- include ../lib/home/h-3/index.pug
	//- include ../lib/home/h-4/index.pug
	//- include ../lib/home/h-5/index.pug
block footer
	include ../lib/footer/f-1/index.pug