extends _layout/_layout.pug

block var
	- title = 'Product-detail'
	- bodyClass = 'product-detail-page'

block header
	include ../lib/header/index.pug
block main
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/product-detail/pd-1/index.pug
	include ../lib/product-detail/pd-2/index.pug
	include ../lib/product-detail/pd-3/index.pug
	
	//- include ../lib/product/p-3/index.pug
	//- include ../lib/product/p-4/index.pug
	//- include ../lib/product/p-5/index.pug
block footer
	include ../lib/footer/f-1/index.pug