section.ttp-media-1
	.container
		.row
			.col
				h2 truyền thông
		.row
			.col
				ul.nav
					li.nav-item
						a(href="/media.html").nav-link.active Tin tức - Sự kiện
					li.nav-item
						a(href="/media-photo.html").nav-link Thư viện ảnh