section.ttp-product-1
	.container
		.row
			.col
				h2 sản phẩm
		.row
			.col
				ul.nav
					li.nav-item
						a(href="#").nav-link.active Tinh dầu
					li.nav-item
						a(href="#").nav-link Trái cây