section.ttp-product-1
	.container
		.row
			.col
				h2 sản phẩm
		.row
			.col
				.nav-wrap
					a.nav-toggle(href="javascript:void(0)") Danh mục
					nav
						ul
							li.nav-item
								a(href="#").nav-link Tinh dầu
							li.nav-item
								a(href="#").nav-link Trái cây
							li.nav-item
								a(href="#").nav-link Tinh dầu
							li.nav-item
								a(href="#").nav-link Trái cây
							li.nav-item
								a(href="#").nav-link Tinh dầu
							li.nav-item
								a(href="#").nav-link Trái cây
							li.nav-item
								a(href="#").nav-link.active Tinh dầu
							li.nav-item
								a(href="#").nav-link Trái cây