section.ttp-intro-1
	.container
		.row
			.col
				h1 câu chuyện của chúng tôi
		.row
			.col
				figure
					img(src='./img/intro/intro_banner.png', alt='')
					figcaption.quote
						h2.title giới thiệu
						p TTP Natural là nguồn cảm hứng từ những vườn trái cây tươi mọng và hương thơm ngát từ cánh đồng hoa ngoại quốc. Chúng tôi muốn gói gọn tất cả những điều tinh túy vào trong sản phẩm tinh dầu thiên nhiên và trái cây tươi sạch. TTP Natural cam kết các sản phẩm tinh dầu 100% chiết xuất từ thiên nhiên, đem nguồn năng lượng sống thiên nhiên đến với khách hàng Việt Nam.
						p Với công nghệ chế biến và đóng gói từ châu Âu, các sản phẩm tinh dầu luôn đảm bảo được chất lượng thuần khiết từ thiên nhiên. Chúng tôi cam kết mùi hương tinh dầu nguyên chất vẫn lưu lại khi trao đến tay khách hàng. Đồng thời các sản phẩm trái cây luôn giữ được độ tươi xanh và chín mọng, mang hương vị của quốc ngoại đến với Việt Nam.
						