<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
      <add name="Footer link" value="2" resourcefile="" />
      <add name="Menu về chúng tôi" value="4" resourcefile="" />
      <add name="Menu hỗ trợ khách hàng" value="8" resourcefile="" />
      <add name="Menu truyền thông" value="16" resourcefile="" />
      <add name="Menu sản phẩm" value="32" resourcefile="" />
      <add name="Menu sản phẩm nhiều" value="64" resourcefile="" />
    </position>

</settings>