header.ttp-header
	.desktop-container.container
		.row.no-gutters.menu-wrap
			.logo-wrap
				a(href="/")
					.logo
						img.desktop(src="./img/global/logo.png", alt="logo")

					//- .logo-text
					//- 	h2 TNA IT SOLUTION
					//- 	span Together we grow
			.main-navbar
				.toolbar
					.search
						.search-toggle
							span.fas.fa-search
						.search-panel
							.search-turn-off
								span.fas.fa-times
							.searchbox
								input.searchinput(type='text', placeholder='Tìm kiếm')
								button.searchbutton Tìm kiếm
					.hot-line
						a(href="#")
							span.fas.fa-phone-volume
							| 0907 208 438
					.cart
						.cart-toggle
							.icon
								span.fas.fa-shopping-cart
								span.amount 3
						//- .cart-panel
							.cart-header
								span Có 1 sản phẩm trong 
								a(href="/cart") giỏ hàng
								span.fas.fa-times
							.cart-body
								ul.cart-list-item
									li.item
										.product-img
											a(href="product-detail.html")
												img(src="./img/product/1.png", alt="")
										.product-info
											a(href="product-detail.html")
												h6.name Switch Cisco Cisco cisco cis co Switch Cisco Cisco cisco cis co Switch Cisco Cisco cisco cis co
											p
												b.price 12.549.000 đ 
												| x 
												b.amount 3
										.remove-product
											span.fas.fa-trash
									li.item
										.product-img
											a(href="product-detail.html")
												img(src="./img/product/1.png", alt="")
										.product-info
											a(href="product-detail.html")
												h6.name Switch Cisco Cisco cisco cis co Switch Cisco Cisco cisco cis co Switch Cisco Cisco cisco cis co
											p
												b.price 12.549.000 đ 
												| x 
												b.amount 3
										.remove-product
											span.fas.fa-trash
									li.item
										.product-img
											a(href="product-detail.html")
												img(src="./img/product/1.png", alt="")
										.product-info
											a(href="product-detail.html")
												h6.name Switch Cisco Cisco 
											p
												b.price 12.549.000 đ 
												| x 
												b.amount 3
										.remove-product
											span.fas.fa-trash
									li.item
										.product-img
											a(href="product-detail.html")
												img(src="./img/product/1.png", alt="")
										.product-info
											a(href="product-detail.html")
												h6.name Switch Cisco Cisco 
											p
												b.price 12.549.000 đ 
												| x 
												b.amount 3
										.remove-product
											span.fas.fa-trash
									li.item
										.product-img
											a(href="product-detail.html")
												img(src="./img/product/1.png", alt="")
										.product-info
											a(href="product-detail.html")
												h6.name Switch Cisco Cisco 
											p
												b.price 12.549.000 đ 
												| x 
												b.amount 3
										.remove-product
											span.fas.fa-trash
							.cart-total
								p
									span Tạm tính: 
									b.total-price 12.549.000 đ
							.cart-footer
								a.btn.btn-cart-checkout(href="/checkout-1.html")
									span.fas.fa-shopping-cart
									span Tiến hành thanh toán
					
					.language
						.current-lang
							p VN
						span.lnr.lnr-chevron-down
						ul
							li
								a(href="#") VN
							li
								a(href="#") EN
				.nav
					ul.nav-list
						li.nav-item.active
							a.nav-link(href="intro.html") Câu chuyện của chúng tôi
						li.nav-item
							a.nav-link(href="product.html") Sản phẩm
						li.nav-item
							a.nav-link(href="promotion.html") Khuyến mãi
						li.nav-item
							a.nav-link(href="media.html") Truyền thông
						li.nav-item
							a.nav-link(href="support-cus.html") Hỗ trợ khách hàng
						li.nav-item
							a.nav-link(href="contact.html") Liên hệ
			.menu-toggle
				span.fas.fa-bars
	.backdrop