section.phanam-home-4
	.container
		.row
			.col-12
				.wrapper
					h2 Phát triển cùng Pha Nam
					p Gia nhập Pha Nam, bạn sẽ được tạo điều kiện tối đa để thể hiện năng lực bản thân, đưa ra sáng kiến và biến ý tưởng thành hành động
					a(href="#").btn.btn-more xem thêm