section.ttp-product-detail-2
	.container
		.row
			.col
				ul#myTab.nav.nav-tabs(role="tablist" )

					li.nav-item
						a.nav-link.active(data-toggle="tab" href="#tab-1" ) Thông tin sản phẩm 
					li.nav-item
						a.nav-link(data-toggle="tab" href="#tab-2" ) đánh giá


section.ttp-product-detail-3
	.container
		.row
			.col
				#myTabContent.tab-content
					#tab-1.tab-pane.fade
						.detail
							p Công Dụng Bất Ngờ Hỗ Trợ Sức Khỏe Đến Từ Tinh Dầu Hoa Hồng
							p Hoa hồng vốn được mệnh danh là nữ hoàng của các loài hoa vì không bởi vẻ đẹp mà còn vì hương thơm đặc trưng, sang trọng. Tinh dầu hoa hồng được chiết xuất từ những gì tinh túy nhất của loài hoa này không những vẫn giữ được trọn vẹn mùi hương quyến rũ mà còn có thể đem đến những lợi ích tuyệt vời cho sức khỏe, và hỗ trợ chăm sóc sắc đẹp vô cùng hiệu quả.
							p Tinh dầu hoa hồng
							p 1. Hỗ trợ giấc ngủ sâu
							p Đi ngủ với tâm trạng đầy căng thẳng và lo âu chắc hẳn rằng sẽ khó có thể có được giấc ngủ sâu và đủ chất lượng, tệ hơn nữa bạn có thể bị mất ngủ gây ảnh hưởng nghiêm trọng đến sức khỏe. Cách đơn giản và an toàn để khắc phục tình trạng này, hãy xông tinh dầu hoa hồng từ 30 phút đến 1 giờ trước khi đi ngủ. Mùi hương dễ chịu đến từ hoa hồng tác động trực tiếp đến khứu giác và hệ thần kinh sẽ khiến cơ thể cảm thấy được thoải mái và thư giãn, giúp giấc ngủ dễ tìm đến hơn. Tuy nhiên, hãy chỉ sử dụng từ 1 đến 3 giọt tinh dầu nếu là không gian nhỏ, vì nếu mùi hương quá nồng sẽ khiến cơ thể khó được thư giãn.
							p Tác dụng của tinh dầu hoa hồng
							p Mời bạn xem thêm tại: Tinh Dầu Vỏ Cam
							p 2. Cải thiện cảm xúc
							p Tinh dầu hoa hồng có khả năng giúp cải thiện cảm xúc cho những người mắc chứng bệnh trầm cảm. Vì mùi hương đến từ hoa hồng sẽ giúp cho hệ thần kinh được thư giãn, khiến tâm trạng sẽ trở nên tốt hơn. Tạp chí Complementary Therapies, đã làm một cuộc khảo sát với 28 phụ nữ sau sinh về tác dụng của hoa hồng đến cảm xúc và tâm lý của họ. Những đối tượng được trị liệu trong 15 phút bằng phương pháp thư giãn với tinh dầu hoa hồng và lavender, mỗi 2 lần 1 tuần trong vòng 4 tuần đều giảm đáng kể những triệu chứng lo âu, hay rối loạn tâm lý, trầm cảm, họ còn có tâm trạng và tinh thần tốt hơn.
							p 3. Chăm sóc và làm sạch da
							p Hoa hồng từ nghìn năm trước đã được xem như một loại dược phẩm cao cấp dành cho tầng lớp hoàng tộc để thư giãn và chăm sóc da. Cho đến ngày nay, hoa hồng vẫn luôn được tin dùng làm thành phần chính, trong rất nhiều sản phẩm dưỡng và chăm sóc da. Sau một ngày dài làm việc mệt mỏi, việc rửa mặt cùng nước ấm có hòa cùng tinh chất hoa hồng, sẽ khiến cơ thể cảm thấy được thư giãn và làn da của bạn trở nên tươi mới, căng tràn sức sống trở lại. Nguyên nhân vì trong tinh chất hoa hồng có khả năng kháng khuẩn và giúp kích thích tái tạo làn da, khiến cho lỗ chân lông được loại bỏ hoàn toàn bụi bẩn và se khít, da mặt trở nên săn chắc hơn.
							p 4. Làm mờ vết thâm, ngừa mụn
							p Hoa hồng cũng có thể sử dụng để hỗ trợ làm mờ những vết rạn da hay vết thâm từ mụn. Nhờ vào khả năng kích thích tái tạo da, và chất chống oxy hóa có trong tinh dầu hoa hồng. Ngoài ra, chất chống oxy hóa này còn giúp ngăn ngừa những dấu hiệu của lão hóa xuất hiện trên da của bạn, và khiến làn da trở nên trắng sáng. Còn nếu mụn là vấn đề khiến bạn phải bận tâm, hãy rửa mặt với nước ấm pha tinh dầu hoa hồng, để giúp da được kháng khuẩn và ngăn ngừa mụn xuất hiện trở lại. Tuy nhiên, có một lưu ý quan trọng là hãy chắc chắn rằng da của bạn không mẫn cảm với bất kì thành phần nào của tinh dầu hoa hồng để tránh tình trạng trở nên xấu đi.
							p 5. Hỗ trợ tiêu hóa, loại bỏ độc tố
							p Tuy ít được biết đến với khả năng hỗ trợ tiêu hóa, nhưng tinh dầu hoa hồng có thể giúp làm dịu những triệu chứng của việc dư acid dạ dày như ợ nóng, khó tiêu, ruột bị kích thích và đầy hơi. Ngoài ra, nó còn giúp cơ thể loại bỏ những độc tố ra khỏi cơ thể thông qua đường bài tiết, hạn chế được việc hệ tiêu hóa phải hấp thụ quá nhiều chất độc, giúp cho ruột trở nên sạch hơn khi gặp vấn đề về tiêu hóa. Một mẹo nhỏ được truyền tai nhau rằng, pha loãng từ 1 đến 2 giọt tinh dầu vào trong cốc nước ấm và uống sẽ hỗ trợ cho cơ thể nhuận trường tốt hơn.
							p Tác dụng của tinh dầu hoa hồng
							p Mời bạn xem thêm: Tinh Dầu Chanh Sần
							p 6. Cân bằng hóc-môn
							p Đôi khi áp lực từ công việc, và cuộc sống kéo dài khiến các đức lang quân gặp phải tình trạng căng thẳng nên chuyện chăn gối của hai người không thể hòa hợp được như trước đây. Nếu như gặp phải vấn đề này, bạn có thể khuếch tán không gian ngủ bằng tinh dầu hoa hồng, hay thoa từ 1 đến 2 giọt lên cổ để âm thầm hỗ trợ quý ông. Khả năng chống căng thẳng và lo lắng có trong tinh dầu hoa hồng, sẽ hỗ trợ nam giới cân bằng hóc-môn giới tính giúp cải thiện vấn đề chăn gối.
							p Điều Gì Làm Nên Tinh Dầu Hoa Hồng PhuongNam Khác Biệt?
							p Tinh dầu hoa hồng Phương Nam được chiết xuất hoàn toàn tự nhiên, giúp cho bạn an tâm hơn trong việc sử dụng. “Đem đến sự thư thái - an toàn đến từng hộ gia đình” là slogan của chúng tôi với mong muốn đem đến một sản phẩm tạo sự thư thái và an toàn đến gia đình bạn.
							p 1. Mỗi sản phẩm của tinh dầu Phương Nam đều nhập khẩu từ Ấn Độ, Pháp, Ý, Anh Quốc và Úc (Có chứng từ COA), sau đó đã được kiểm định bởi trung tâm đo lường chất lượng miền nam (Q3), đảm bảo về yêu cầu chất lượng trong mỗi sản phẩm đến tay bạn. 
							p 2. “Top 100 thương hiệu Việt uy tín do người tiêu dùng bình chọn vào tháng 8 năm 2018” là lời khẳng định vững chắc nhất, về uy tín và chất lượng của trong từng sản phẩm.
							p 3. Tinh dầu hoa hồng PhuongNam được chưng cất theo quy trình chuẩn quốc tế. Nguyên liệu tinh dầu hoa hồng PhuongNam được lấy từ các nông trại 100% hữu cơ đem lại những giọt tinh dầu thiên nhiên nhất. 
							p Tinh dầu PhuongNam luôn nghiêm ngặt về chất lượng tinh dầu từ nguyên liệu nhập đến khâu sản xuất thành phẩm. Và công ty sẽ đền bù cho bạn gấp 5 LẦN nếu bạn phát hiện tinh dầu kém chất lượng.
							p Tinh dầu hoa hồng
							p Hướng Dẫn Sử Dụng
							p Đối với xông tinh dầu bằng các máy khuyếch tán hay đèn xông: bạn nhỏ 3-5 giọt tinh dầu vào tuỳ thuộc diện tích phòng. 
							p VIDEO GIỚI THIỆU TỔNG QUAN VỀ PHUONGNAM ESSENTIAL OIL
							p Lưu ý:
							p - Sản phẩm không phải là thuốc, không có tác dụng diều trị bệnh và không có tác dụng phụ. Cần tham khảo ý kiến bác sĩ nếu dùng mục đích điều trị bệnh và phụ nữ đang mang thai.
							p - Tránh xa tầm tay trẻ em.
							p - Bảo quản nơi khô mát, không được để trực tiếp ánh nắng mặt trời.
							p - Không được uống trực tiếp, không được cho vào mắt hoặc gần mắt.
						a(href="javascript:void(0)").btn.btn-more
							span.fas.fa-chevron-down

					#tab-2.tab-pane.fade.show.active
						.review
							h3 Khách hàng nhận xét
								a(href="#!").btn.btn-review viết đánh giá
							#ctl00_mainContent_ctl03_ctl00_comment_pnlFeedback.commentpanel.commentpanel0(data-type="0")
								.journalTools
									.journalEditor
										.journalInfo
											.form_group
												label Mời bạn nhập tên
												input.txtFullName( type="text")
											.form_group
												label Mời bạn nhập email
												input.txtEmail( type="text")
										.block
											.journalClose
											.form_group
												label Mời bạn
												textarea.journalContent
											a.btn.btnShare(href="#") Gửi
										.journalPlaceholder Mời bạn thảo luận hoặc đánh giá về sản phẩm này
								.clear
								.journalItems
									#jid-8.journalrow
										.author
											i.iconcom
										.journalitem
											.minidel(onclick="journalDelete(this);")
											.journalsummary
												strong
													| Admin
												b.mod Quản trị viên
												div
													| teste
											.journalfooter
												a#cmtbtn-8.cmreply(href="#") Trả lời
												a#like-8.cmlike(href="#")
													| Thích
													i.iconcom-likecomm
													span 0
												abbr(title="25/01/2019 10:06 SA")
													| 7 phút trước
										ul#jcmt-8.jcmt
											li#jcmt-8-txtrow.cmteditarea
												textarea#jcmt-8-txt.cmteditor
												.editorPlaceholder Mời bạn thảo luận hoặc đánh giá về sản phẩm này
											li.cmtbtn
												.cmtinfo
													input.cmtname(type="text" placeholder="Mời bạn nhập tên (Bắt buộc)" maxlength="100")
													input.cmtemail(type="text" placeholder="Mời bạn nhập email (Không bắt buộc)" maxlength="100")
													a(href="#") Gửi bình luận







