section.phanam-home-3
	article
		.row.no-gutters
			.col-lg-3.col-md-6
				figure
					.boxzoom
						img(src='./img/home/service_1.png', alt='')
					figcaption
						h3 Dịch vụ phân phối
						p Với hệ thống phủ rộng rộng khắp nước, đội ngũ giao hàng có mặt trên 64 tỉnh thành, hệ thống kho bãi đạt chuẩn GDP, quy trình chặt chẽ, chúng tôi sẽ mang đến cho khách hàng dịch vụ giao hàng vượt trội
			.col-lg-3.col-md-6
				figure
					.boxzoom
						img(src='./img/home/service_2.png', alt='')
					figcaption
						h3 Dịch vụ bán hàng
						p Với đội ngũ nhân viên bán hàng được đào tạo đầy đủ và tâm huyết của Pha Nam chúng tôi – Khách Hàng không thể nói “Không”
			.col-lg-3.col-md-6
				figure
					.boxzoom
						img(src='./img/home/service_3.png', alt='')
					figcaption
						h3 Dịch vụ 
							br
							|Tiếp thị tại điểm bán
						p Chúng tôi luôn tập trung nghiên cứu và thực hiện các giải pháp nhằm cho người tiêu dùng tiếp cận & cảm nhận tốt nhất về sản phẩm tại Nhà Thuốc
			.col-lg-3.col-md-6
				figure
					.boxzoom
						img(src='./img/home/service_4.png', alt='')
					figcaption
						h3 Dịch vụ 
							br
							| Khảo sát thị trường
						p Nắm bắt được tầm quan trọng của hoạt động khảo sát thị trường, chúng tôi đã không ngừng đầu tư nghiên cứu và tổ chức mạng lưới nhân sự phủ rộng tên toàn quốc nhằm nâng cao hiệu quả của hoạt động khảo sát thị trường