section.ttp-home-3
	.container
		.row
			.col
				h2 trái cây
		.row
			.col
				.wrapper-product
					.product(data-aos="fade-up-right"  data-aos-duration="1000")
						figure
							.boxzoom
								img.img-fluid(src='./img/home/home_fruit_1.png', alt='')
								
							figcaption
								h3 Lê Hàn Quốc
								p.price 90.000đ
									span.discount 120.000đ
								p.new - 20%
								.buy-block
									a(href="#")

										.btn.btn-put 
											span.fas.fa-shopping-cart
											| Cho vào giỏ hàng
									a(href="#")
										.btn.btn-more Xem thêm
					.product(data-aos="fade-up-right"  data-aos-duration="1200")
						figure
							.boxzoom
								img.img-fluid(src='./img/home/home_fruit_1.png', alt='')
								
							figcaption
								h3 Lê Hàn Quốc
								p.price 90.000đ
									span.discount 120.000đ
								p.new - 20%
								.buy-block
									a(href="#")

										.btn.btn-put 
											span.fas.fa-shopping-cart
											| Cho vào giỏ hàng
									a(href="#")
										.btn.btn-more Xem thêm
					.product(data-aos="fade-up-right"  data-aos-duration="1400")
						figure
							.boxzoom
								img.img-fluid(src='./img/home/home_fruit_1.png', alt='')
								
							figcaption
								h3 Lê Hàn Quốc
								p.price 90.000đ
									span.discount 120.000đ
								p.new - 20%
								.buy-block
									a(href="#")

										.btn.btn-put 
											span.fas.fa-shopping-cart
											| Cho vào giỏ hàng
									a(href="#")
										.btn.btn-more Xem thêm
					.product(data-aos="fade-up-right"  data-aos-duration="1600")
						figure
							.boxzoom
								img.img-fluid(src='./img/home/home_fruit_1.png', alt='')
								
							figcaption
								h3 Lê Hàn Quốc
								p.price 90.000đ
									span.discount 120.000đ
								p.new - 20%
								.buy-block
									a(href="#")

										.btn.btn-put 
											span.fas.fa-shopping-cart
											| Cho vào giỏ hàng
									a(href="#")
										.btn.btn-more Xem thêm
					.product(data-aos="fade-up-right"  data-aos-duration="1800")
						figure
							.boxzoom
								img.img-fluid(src='./img/home/home_fruit_1.png', alt='')
								
							figcaption
								h3 Lê Hàn Quốc
								p.price 90.000đ
									span.discount 120.000đ
								p.new - 20%
								.buy-block
									a(href="#")

										.btn.btn-put 
											span.fas.fa-shopping-cart
											| Cho vào giỏ hàng
									a(href="#")
										.btn.btn-more Xem thêm